.form_container {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

h1 {
  padding-bottom: 0.5em;
}

.form_container input[type="submit"] {
  border-radius: 8px;
  background-color: #25b456;
  color: #fff;
  border: none;
  min-height: 100px;
  min-height: 2.5em;
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
}

.form_container input[type="submit"]:hover {
  background-color: #1c8a42;
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: #16479d;
  font-weight: bold;
}

/* pets */
.preview_pet_image {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.preview_pet_image img {
  width: 100px;
  height: 100px;
  margin-left: 1em;
}
